* {
  box-sizing: border-box;
  margin: 0;
}

body{
  width: 100%;
  margin: 0px;
}


p {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1.7em;
}

h2, h3{
  margin-bottom: 15px;
  margin-top: 20px;
  font-family: Georgia;
  font-style: bold;
}

h4{
  margin-bottom: 15px;
  margin-top: 20px;
  font-family: Georgia;
  font-style: bold;
  font-size: 16px;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  background-color: rgba(191, 191, 191,0.5);
  text-decoration: none;
  height: 9vh;
  padding: 30px;
  position: fixed;
  width: 100%;
}
.div-burger {
  display: block;
}

.nav-list {
  list-style: none;
  display: none;
}

.list-show {
  display: block;
  position: fixed;
  top: 9vh;
  right:0px ;
  border: 1px solid grey;
  background-color: rgb(191,191,191);
  z-index: 99;
  margin-top: 0;
}

.link-styles {
  font-size: 20px;
  border-bottom: 1px dashed grey;
  letter-spacing: 4px;
  line-height: 40px;
}

.opacity {
  background-color: rgb(215, 222, 226);
}

a:link{
  color: black;
}

a:visited{
  color: black;
}

li {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.8vh;
}

.icon {

  width: 40px;
  height: 40px;
}

.menuButton {
  width: 30px;
  height: 30px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.menuButton span {
  display: block;
  position: absolute;
  height: 16.5%;
  width: 100%;
  background: black;
  border-radius: 16.5%;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.menuButton span:nth-child(1) {
  top: 0px;
}

.menuButton span:nth-child(2) {
  top: 41.75%;
}

.menuButton span:nth-child(3) {
  bottom: 0%;
}

.menuButton.open span:nth-child(1) {
  top: 33%;
  transform: rotate(135deg);
}

.menuButton.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.menuButton.open span:nth-child(3) {
  top: 33%;
  transform: rotate(-135deg);
}

.homecontainer {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.hometitle{
  color: white;
  font-size: 3em;
  margin-bottom: 5px;
}

.title {
  width: 80%;
  text-align: center;
}

.homeparagraph {
  color: white;
}

.slide{
  position: relative;
  top: 0;
  z-index: -1;
  width: 100%;
}

.slide-one {
  background-image: url("../images/Montanas.jpg");
}

.slide-two {
  background-image: url("../images/Manos.jpg");
}

.slide-three {
  background-image: url("../images/Pueblo.jpg");
}

.buttons {
  position: relative;
}

.btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-style: none;
  border-width: 0;
  position: relative;
  background-color: white;
  bottom: -85%;
  margin-left: 20px;
}

.btn-active {
  background-color: #29ABE2;
}

.main-container {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.container{
  margin-left: 20px;
  margin-right: 20px;
}

.maintitle{
  color: white;
  font-size: 3em;
  margin-bottom: 5px;
}

.title {
  width: 100%;
  position: relative;
  bottom: -5%;
}

.title p {
  color: white;
}

.pill{
  display: none;
}

.mid{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.empty{
  display: none;
}

header a {
  text-decoration: none;
}

.header-gap {
  height: 9vh;
}

.header {
  width: 100%;
}

.articleTitles {
  font-family: Georgia;
  font-size: 40px;
  margin-bottom: 80px;
  text-align: center;
  margin-top: 15vh;
}

.info-article {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  text-align: justify;
  font-size: 1em;
  line-height: 2em;
}

.articleImages {
  margin-top: 5vh;
  width: 100%;
}

.paragraph-style {
  width: 100%;
  font-size: 1em;
  line-height: 2em;
}

.big_image{
  width: 100%;
  height: 70vh;

}

.big_image2{
  height: 50vh;
}

.medium_image{
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}


.little_image{
  width: 60%;
}


.table {
  width: 100%;
  font-size: 1em;
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid black;
}
th {
  width: 30px;
  text-align: center;
  padding: 5px;
}
td{
  text-align: center;
  padding: 5px;
}
tr:nth-child(even) {
  background-color: #f2f2f2
}

footer {
  background-color: rgb(171, 171, 170);
  margin-top: 5vh;
  padding-top: 2vh;
  width: 100%;
  height: 140px;
}
.footerParagraph {
display: none;
}
.footer-icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons{
  margin-top: 3px;
  height: 100%;
  max-height: 50px;
}
footer p{
  display: none;
}


@media(min-width:735px){
  .navBar {
    padding: 10px;
  }
  .list-show {
    display: none;
    position: inherit;
    border: none;
  }
  .icon {
    width: 50px;
    height: 50px;
  }
  .menuButton {
    display: none;
  }
  .nav-list {
  display: flex;
  flex-direction: row;
  }

  .link-styles {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  list-style-type: none;
  margin: 15px;
  font-size: 0.8em;
  border-bottom: none;
  line-height: 10px;
  letter-spacing: 1px;
  text-align: justify;

  }


  .hometitle{
    color: white;
    font-size: 4em;
    margin-bottom: 5px;
  }
  .title {
    width: 45%;
    position: relative;
    bottom: -25%;
    left: 25%;
  }
  .buttons {
    position: relative;
    top: 10%;
  }
  .container{
    display: flex;
  }
  .maintitle{
    color: white;
    font-size: 4em;
    margin-bottom: 5px;
  }

  .title {
    width: 45%;
    position: relative;
    bottom: -25%;
    left: 25%;
  }

  .buttons {
    position: relative;
    top: 10%;
  }

  .pill{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-right: 30px;
  padding-left:30px;
  }

  .empty{
  width: 25%;
  }

  .mid{
  width: 50%;
  }

  .info-article {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    line-height: 1.7em;
    font-size: 1em;
    margin-bottom: 30px;
  }
  .paragraph-style {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1.7em;
    margin-right:15px;
    width:300px;
    max-width:700px;
    /*margin-right: 15px;
    width: 330px;
    margin-top: 0;
    font-size: 1em;
    max-width: 700px;*/
  }
  .paragraph-divided {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .articleImages {
    width: 700px;
  }
  .list-information {
    font-size: 0.9em;
    max-width: 700px;
  }
  .table {
    width: 700px;
    font-size: 1em;
    border-collapse: collapse;
  }
  .team{
  display: flex;
  justify-content: space-between;
  }
  footer {
    background-color: rgb(171, 171, 170);
    margin-top: 5vh;
    width: 100%;
  }
  footer p{
    font-size: 12px;
    display: block;
    max-width: 16%;
  }

  .footer-icons{
    margin-left:50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .icons{
    height: 100%;
    max-height: 50px;
  }

};
@media(min-width:1024px){

  .articleTitles {
    font-size: 50px;
    text-align: left;
    line-height: 45px;
    margin-bottom: 60px;
  }
  .info-article {
    max-width: 600px;
    line-height: 1.7em;
    font-size: 1.4vw;
  }
  .articleImages {
    width: 600px;
  }
  .paragraph-style {
    margin-right: 3px;
    width: 280px;
    margin-top: 0;
    font-size: 1.3vw;
  }
  .vertical-image {
    width: 180px;
    height: 304px;
    margin-bottom: 10px;
  }
  .paragraph-photo {
    width: 400px;
    margin-top: 0;
  }
  .table {
    width: 600px;
    font-size: 1vw;
    border-collapse: collapse;
  }
  table, th, td {
    border: 1px solid black;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
  }
  th {
    width: 30px;
    text-align: center;
    padding: 5px;
  }
  td{
    text-align: center;
    padding: 5px;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2
  }
  /*.table-responsive {
   overflow-x:auto;
}*/
  .list-information {
    font-size: 0.9em;
  }
}

.col-left {
  float: left;
  width: 50%;
}

.col-right {
  margin-top: 200px;
  float: right;
  width: 50%;
}
